<body>
    <!-- Nav Bar -->
    <header>
        <nav aria-label="Main">
            <a id="home-navigation" href="#">
                <img id="logo" src="assets/logo.svg" alt="Homepage">
                <span id>Dungeon Forge</span>
            </a>
            <div class="topnav" id="main-navigation-content">
                <ul>
                    <li>
                        <a id="homepage-button" href="/" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/blogs">GM Tips</a>
                    </li>
                    <li>
                        <a href="/create-campaign">Create Campaign</a>
                    </li>
                    <li>
                        <a href="/campaigns">Campaigns</a>
                    </li>
                    <a (click)="toggleMenuButton()" id="navigation-icon" class="icon" aria-label="Mobile Navigation Button" aria-expanded="false">
                        <img src="assets/more.png">
                    </a>
                </ul>
            </div>
        </nav>
    </header>

    <div class="content" role="document">
        <!-- Intro Text -->
        <div class="resizable-element element">
            <h1>D&D Campaign Creator</h1>
            <p>The adventure starts here.</p>
        </div>

        <!-- Home Image -->
        <div class="resizable-element element">
            <img id="home-page-dragon" src="assets/home-page-dragon.jpg" alt="Black dragon breathing fire">
        </div>

        <!-- Generate Campaign -->
        <div class="resizable-element element">
            <img id="create-campaign-img" src="assets/create-campaign.jpg" alt="Tiefling warlock casting a spell while in combat">
            <h2>Create a Campaign</h2>
            <p>The adventure begins with a spark of inspiration.</p>
        </div>

        <!-- Subcategories -->
        <div class="resizable-element">
            <!-- Run a Campaign -->
            <div class="sub-directory">
                <div>
                    <h2>Run a Campaign</h2>
                    <p>Unleash the chaos and let the adventure unfold.</p>
                </div>
                <img id="run-campaign-img" src="assets/run-campaign.jpg" alt="Adventurers facing off against a white dragon">
            </div>

            <!-- GM Tips -->
            <div class="sub-directory">
                <!-- How to Run a Campaign-->
                <div class="element">
                    <p>How to run a campaign</p>
                </div>
                
                <!-- GM Tips Link -->
                <div class="element">
                    <p>GM Tips</p>
                </div>
            </div>
        </div>
    </div>
</body>